<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/styles.css')}}"
    />
    <script src="{{ url_for('static', filename='js/ServerlessPerformanceTesterScript.js') }}"></script>
    <title>Serverless Functions Performance Tester</title>
  </head>

  <body>
    <h1>Serverless Functions Performance Tester</h1>
    <a href="{{url_for('index')}}">Switch to Server Tester</a>
    <br /><br /><br />

    <label for="provider">Select Cloud Provider:</label>
    <select id="provider" onchange="toggleInputs()">
      <option value="aws">AWS</option>
      <option value="azure">Azure</option>
      <option value="gcloud">Google Cloud</option>
    </select>
    <br /><br />

    <!-- Input fields za AWS -->
    <div id="awsInputs">
      <label for="apiGatewayUrl">API Gateway URL:</label>
      <input type="text" id="apiGatewayUrl" name="apiGatewayUrl" required />
      <br />
    </div>

    <!-- Input fields za Azure -->
    <div id="azureInputs" style="display: none">
      <label for="azureFunctionUrl">Azure Function URL:</label>
      <input
        type="text"
        id="azureFunctionUrl"
        name="azureFunctionUrl"
        required
      />
      <br />
      <label for="azureFunctionKey">Azure Function Key:</label>
      <input
        type="text"
        id="azureFunctionKey"
        name="azureFunctionKey"
        required
      />
      <br />
    </div>

    <!-- Input fields za Google -->
    <div id="gcloudInputs" style="display: none">
      <label for="gcloudFunctionUrl">Google Cloud Function URL:</label>
      <input
        type="text"
        id="gcloudFunctionUrl"
        name="gcloudFunctionUrl"
        required
      />
      <br />
      <label for="gcloudAccessToken">Access Token:</label>
      <input
        type="text"
        id="gcloudAccessToken"
        name="gcloudAccessToken"
        required
      />
      <br />
    </div>

    <!-- Drugi inputs -->
    <label for="threshold">Threshold:</label>
    <input type="number" id="threshold" name="threshold" required />
    <br />
    <label for="arraySize">Array Size:</label>
    <input type="number" id="arraySize" name="arraySize" required />
    <br />
    <input
      type="submit"
      id="submitButton"
      value="Submit"
      onclick="processArray(event)"
    />
    <br /><br />

    <div style="display: none" id="result"></div>
    <table id="resultsTable">
      <thead>
        <tr>
          <th>Number of Requests</th>
          <th>Processing time (seconds)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Se popolnuva dinamicki -->
      </tbody>
    </table>
  </body>
</html>
