<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='/css/styles.css')}}"
    />
    <script src="{{ url_for('static', filename='js/ServerlessPerformanceTesterScript.js') }}"></script>
    <title>Serverless Functions Performance Tester</title>
  </head>

  <body>
    <h1>Serverless Functions Performance Tester</h1>
    <a href="{{url_for('index')}}">Switch to Server Tester</a>
    <br /><br /><br />

    <label for="provider">Select Cloud Provider:</label>
    <select id="provider" onchange="toggleInputs()">
      <option value="">--select test type--</option>
      <option value="aws">AWS</option>
      <option value="azure">Azure</option>
      <option value="gcloud">Google Cloud</option>
    </select>
    <br />

    <!-- Input fields za AWS -->
    <div id="awsInputs" style="display: none">
      <label for="apiGatewayUrl"
        >API Gateway URL:
        <span
          class="info-icon"
          title="The URL of the API Gateway or the Function URL. Make sure that CORS allows all (your) domains before testing."
          >&#9432;</span
        >
      </label>
      <input type="text" id="apiGatewayUrl" name="apiGatewayUrl" required />
      <br />
      <label for="accessKeyID"
        >Access Key ID:
        <span
          class="info-icon"
          title="Access Key ID of your account. Leave empty if the function is public."
          >&#9432;</span
        >
      </label>
      <input
        type="text"
        id="acessKeyID"
        name="accessKeyID"
        placeholder="public"
        required
      />
      <br />
      <label for="secretAccessKey"
        >Access Key ID:
        <span
          class="info-icon"
          title="The Secret Access Key associated with your account. Leave empty if the function is public."
          >&#9432;</span
        >
      </label>
      <input
        type="text"
        id="secretAccessKey"
        name="secretAccessKey"
        placeholder="public"
        required
      />
    </div>

    <!-- Input fields za Azure -->
    <div id="azureInputs" style="display: none">
      <label for="azureFunctionUrl"
        >Azure Function URL:
        <span
          class="info-icon"
          title="The function URL. Make sure that CORS allows all (your) domains before testing."
          >&#9432;</span
        >
      </label>
      <input
        type="text"
        id="azureFunctionUrl"
        name="azureFunctionUrl"
        required
      />
      <br />
      <label for="azureFunctionKey"
        >Azure Function Key:
        <span
          class="info-icon"
          title="The key used for invoking the function. Leave this blank if the function is public."
          >&#9432;</span
        >
      </label>
      <input
        type="text"
        id="azureFunctionKey"
        name="azureFunctionKey"
        placeholder="public"
        required
      />
      <br />
    </div>

    <!-- Input fields za Google -->
    <div id="gcloudInputs" style="display: none">
      <label for="gcloudFunctionUrl"
        >Google Cloud Function URL:
        <span
          class="info-icon"
          title="The function URL. Make sure that CORS allows all (your) domains before testing."
          >&#9432;</span
        >
      </label>
      <input
        type="text"
        id="gcloudFunctionUrl"
        name="gcloudFunctionUrl"
        required
      />
      <br />
      <label for="gcloudAccessToken"
        >Access Token:
        <span
          class="info-icon"
          title="The access token used for invoking the function. Leave this blank if the function is public."
          >&#9432;</span
        >
      </label>
      <input
        type="text"
        id="gcloudAccessToken"
        name="gcloudAccessToken"
        placeholder="public"
        required
      />
      <br />
    </div>

    <!-- Drugi inputs -->
    <label for="arraySize"
      >Array Size:
      <span
        class="info-icon"
        title="The length of the array the function will sort using mergesort."
        >&#9432;</span
      >
    </label>
    <input type="number" id="arraySize" name="arraySize" required />
    <br />
    <label for="threshold"
      >Maximum simultaneous requests:
      <span
        class="info-icon"
        title="The maximum amount of requests sent to the function at once. The app starts with 1 request and increases the number of requests sent simultaneously by one every iteration."
        >&#9432;</span
      >
    </label>
    <input type="number" id="threshold" name="threshold" required />
    <br />
    <input
      type="submit"
      id="submitButton"
      value="Submit"
      onclick="processArray(event)"
    />
    <br /><br />

    <div id="result" style="display: block"></div>
    <br>
    <table id="resultsTable">
      <thead>
        <tr>
          <th>Number of Requests</th>
          <th>Processing time (seconds)</th>
        </tr>
      </thead>
      <tbody>
        <!-- Se popolnuva dinamicki -->
      </tbody>
    </table>
  </body>
</html>
